/* dark.css */

/* CSS HEX FOR DARK THEME */
.charcoal {
    color: #3C5766ff;
}

.gunmetal {
    color: #1D3340ff;
}

.paynes-gray {
    color: #43687Fff;
}

.air-force-blue {
    color: #598195ff;
}

.prussian-blue {
    color: #0C2538ff;
}

.root {
    -fx-background-image: url('dark_forest.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.button {
    /*background-color #43687Fff For selected toogle button*/
    -fx-background-color: #0C2538ff;
    -fx-text-fill: #E6E4D8ff;
    -fx-padding: 10;
    -fx-font-size: 14px;
}
.button:selected {
    -fx-background-color: #43687Fff;
}
.text-field, .password-field {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-color: #0C2538ff;
    -fx-text-fill: #E6E4D8ff;
}

.label {
    -fx-text-fill: #E6E4D8ff;
}

.rect {
    -fx-background-color: #0C2538ff;
    -fx-background-radius: 10; /* Adjust the radius value as needed for rounded corners */
    -fx-border-color: #43687Fff; /* Set the border color */
    -fx-border-radius: 10; /* Match this with background radius for consistent rounded corners */
    -fx-padding: 10;
}

.rect .text-label {
    -fx-text-fill: #E6E4D8ff;
    -fx-font-size: 14px;
}
