/* CSS HEX */
.alabaster {
    color: #E6E4D8ff;
}

.sage {
    color: #ADA67Dff;
}

.air-force-blue {
    color: #6695A8ff;
}

.slate-gray {
    color: #607F89ff
}

.dark-moss-green {
    color: #67652Aff;
}